*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 0px 200px;
    padding-right: 240px;
}
.flower1{
    width: 150px;
}
.title-description{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 10px;
    word-wrap: normal;
}
.btn-primary{
    background: #E55473;
    padding: 10px 20px;
    color: white;
    margin-bottom: 20px;
}

/* main part start */
.sec-1{
    text-align: center;
}
.heading{
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 80px;
    padding-top: 100px;
}
.paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 40px;
    padding: 15px;
}
.flower-asset{
    width: 250px;
    height: 300px;
    display: flex;
    gap: 10px;
    margin-left: 300px;
}
.flower-asset img a{
    text-align: center;
}
.box{
    /* width: 464px;
    height: 538px; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 10px;
}
.box1{
    /* width: 464px;
    height: 538px; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 10px;
}
.box2{
    /* width: 464px;
    height: 538px; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 10px;
}

/* another section */
.new-container{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 30px;
}
.span-tag{
    color: coral;
}
.new-section{
    margin-top: 180px;
    margin-left: 200px;
}
.imag{
    margin-top: 100px;
    margin-right: 230px;
}
.section-2{
    display: flex;
    margin-left: 200px;
    gap: 20px;
}

.ig{
    width: 180px;
    height: 200px;
}

/* last section */
.last-section{
    width: 780px;
    margin-left: 200px;
    background-image: url("../Flower\ Asset/Rectangle 9.png");
    margin-top: 120px;
}
.email{
    margin-left: 200px;
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
}

